.bottom-tabbar-container {
  width: 750px;
  height: 90px;
  //   background: pink;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  //   justify-content: space-evenly;
  border-top: 1px solid #eee;
  .tab-bar-item {
    // width: 90px;
    flex: 1;
    height: 100%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      height: 60px;
    }
    .active {
      color: orange;
    }
    .title {
      flex: 1;
      font-size: 30px;
    }
  }
}
